@import "tailwindcss";
@import "uniwind";
@import "tw-animate-css";

@theme {
  --radius: 10px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --spacing-hairline: hairlineWidth();
}

@theme static {
  --qop-orange: oklch(0.61 0.112 47);
  --qop-orange-light: oklch(0.68 0.112 47);
  --qop-orange-dark: oklch(0.53 0.112 47);
  --qop-black: oklch(0.17 0.008 250);
  --qop-white: oklch(0.95 0.006 60);
}

@layer theme {
  :root {
    @variant light {
      --color-background: var(--qop-white);
      --color-background-element: oklch(0.911 0.0061 51.5);
      --color-background-selected: oklch(0.833 0.0063 34.5);
      --color-border: oklch(0.833 0.0063 34.5);
      --color-card: var(--qop-white);
      --color-card-foreground: var(--qop-black);
      --color-code-background: oklch(0.9266 0.00606 54.9);
      --color-destructive: oklch(0.5059 0.1425 27.1);
      --color-foreground: var(--qop-black);
      --color-foreground-secondary: oklch(0.4508 0.00728 311.2);
      --color-input: oklch(0.833 0.0063 34.5);
      --color-muted: oklch(0.911 0.0061 51.5);
      --color-muted-foreground: oklch(0.4508 0.00728 311.2);
      --color-accent: oklch(0.911 0.0061 51.5);
      --color-accent-foreground: var(--qop-black);
      --color-action: var(--qop-orange);
      --color-action-foreground: var(--qop-black);
      --color-popover: var(--qop-white);
      --color-popover-foreground: var(--qop-black);
      --color-primary: var(--qop-orange);
      --color-primary-foreground: var(--qop-black);
      --color-ring: var(--qop-orange);
      --color-secondary: oklch(0.911 0.0061 51.5);
      --color-secondary-foreground: var(--qop-black);
    }

    @variant dark {
      --color-background: var(--qop-black);
      --color-background-element: oklch(0.2168 0.00788 260.2);
      --color-background-selected: oklch(0.2948 0.00768 277.2);
      --color-border: oklch(0.2948 0.00768 277.2);
      --color-card: var(--qop-black);
      --color-card-foreground: var(--qop-white);
      --color-code-background: oklch(0.2012 0.00792 256.8);
      --color-destructive: oklch(0.586 0.1051 27.46);
      --color-foreground: var(--qop-white);
      --color-foreground-secondary: oklch(0.6692 0.00672 358.8);
      --color-input: oklch(0.2948 0.00768 277.2);
      --color-muted: oklch(0.2168 0.00788 260.2);
      --color-muted-foreground: oklch(0.6692 0.00672 358.8);
      --color-accent: oklch(0.2168 0.00788 260.2);
      --color-accent-foreground: var(--qop-white);
      --color-action: var(--qop-orange);
      --color-action-foreground: var(--qop-black);
      --color-popover: var(--qop-black);
      --color-popover-foreground: var(--qop-white);
      --color-primary: var(--qop-orange);
      --color-primary-foreground: var(--qop-black);
      --color-ring: var(--qop-orange);
      --color-secondary: oklch(0.2168 0.00788 260.2);
      --color-secondary-foreground: var(--qop-white);
    }
  }
}

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --font-rounded:
    "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo, "MS PGothic",
    sans-serif;
  --font-serif: Georgia, "Times New Roman", serif;
}
